<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         executionOrder="depends,defects"
         beStrictAboutCoversAnnotation="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTodoAnnotatedTests="true"
         failOnRisky="true"
         failOnWarning="true"
         verbose="true">
    <testsuites>
        <testsuite name="default">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">src</directory>
        </include>

        <report>
            <clover outputFile="report/clover.xml"/>
            <cobertura outputFile="report/cobertura.xml"/>
            <crap4j outputFile="report/crap4j.xml" threshold="50"/>
            <html outputDirectory="report/html-coverage"/>
            <php outputFile="report/coverage.php"/>
            <text outputFile="report/coverage.txt" showOnlySummary="true"/>
            <xml outputDirectory="report/xml-coverage"/>
        </report>
    </coverage>
</phpunit>
